:root {
  --ifm-color-primary: #00684A;
  --ifm-color-primary-dark: #005c42;
  --ifm-color-primary-darker: #00563e;
  --ifm-color-primary-darkest: #004733;
  --ifm-color-primary-light: #007452;
  --ifm-color-primary-lighter: #007a56;
  --ifm-color-primary-lightest: #008b61;
  --ifm-link-color: #016BF8;
}

.navbar-logo {
  margin-left: 15px;
}
